@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    html {
        scroll-behavior: smooth;
    }

    .success {
        background: #00a83c !important;
        color: #ffffff !important;
        backdrop-filter: none;
        stroke: #ffffff !important;
    }

    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
    }

}
